.small-container {
    max-width: 500px;
    margin: auto;
    margin-top: 70px;
  }
  
  .form-style {
    margin-top: 50px;
  }

.form-group {
  margin-top: 13px;
  margin-bottom: 13px;
}

.update-button {
  margin-right: 7px;
}

.update-modal {
  position: fixed !important;
  background-color: #fff;
  z-index: 9999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal-button-close {
  width: 50px;
  height: 20px;
  background-color: red !important;
}